
body {
    padding-top: 70px;
}
h1, #banner {
    font-size: 72px;
}
h4 {
    font-size: 24px;
}

.deleteNote {
    display: inline-block;
    color: purple;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 5.5px 0px;
    color: purple;
}
.jumbotron {
    background: lightcoral;
    color: purple;
    border-style: double;
    border-width: 10px;
}
.panel-default>.panel-heading {
    background: lightcoral;
    color: purple;
}
.panel {
    color: purple;
    font-size: 18px;
    border: purple;
    border-style: double;
    border-width: 10px;
}
.navbar {
    background: lightcoral;
}
.navbar-default .navbar-brand {
    color: purple;
    font-size: 40px;
}
#nbar {
    color: purple
}
#scrape {
    background: lightcoral;
    color: purple;
    position:relative;
    height:40px;
    font-size: 14px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
  }
button { 
    background-color: purple;
}

#btn {
    color: purple;
}